.header h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.title {
  margin: 0;
}

.accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-account-form,
.new-transaction-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 45%;
}

.new-account-form h2,
.new-transaction-form h2 {
  margin-top: 0;
}

.new-account-form label,
.new-transaction-form label {
  display: block;
  margin-bottom: 10px;
}

.new-account-form input,
.new-transaction-form input,
.new-transaction-form select {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.new-account-form button,
.new-transaction-form button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.account-list {
  width: 45%;
}

.account-list h2 {
  margin-top: 0;
}

.account-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.account-list li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

.account-list li.selected {
  background-color: #eee;
}

.transactions {
  margin-top: 40px;
}

.transactions h1 {
  margin-top: 0;
}

.account-info {
  background-color: #eee;
  padding: 20px;
  margin-bottom: 20px;
}

.account-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.account-info p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

table th {
  background-color: #333;
  color: #fff;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
